@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Alhambra implementation : © Gregory Isabelli
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * alhambra.scss
 *
 * Alhambra stylesheet
 *
 */
@font-face {
  font-family: 'Chopin Script';
  src: url("img/font/ChopinScript.woff2") format("woff2"), url("img/font/ChopinScript.woff") format("woff"), url("img/font/ChopinScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.alhambra_popin {
  width: 80%;
  position: relative; }
  .alhambra_popin .alhambra_popin_closeicon {
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 82%;
    color: white !important; }
    .alhambra_popin .alhambra_popin_closeicon:hover {
      text-decoration: none;
      color: #CCC !important;
      transform: scale(1.1); }
    .alhambra_popin .alhambra_popin_closeicon i {
      margin-top: -2px; }

#popin_moneyDialog_underlay {
  background: #3e3d3d !important; }

#popin_moneyDialog {
  margin-top: 150px;
  width: auto;
  min-height: 400px;
  padding: 25px;
  text-align: center; }
  #popin_moneyDialog .money-dialog-holder {
    display: flex; }

#popin_showScoreSheet {
  width: 620px;
  height: 477px;
  background-image: url("img/player_aid.jpg");
  border-radius: 22px;
  margin-top: 6px; }
  #popin_showScoreSheet::before {
    content: none !important; }

.money-card {
  width: 109px;
  height: 169px;
  position: relative;
  transform-origin: 50% 50%;
  transform-style: preserve-3d; }
  .money-card .money-card-front, .money-card .money-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/money.jpg");
    background-size: 900%;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  .money-card .money-card-back {
    background-image: url("img/money-back.jpg");
    background-size: cover;
    transform: rotateY(180deg); }
  .money-card.flipped {
    transform: rotateY(180deg); }
  .money-card.animate {
    transition: transform 0.5s; }
  .money-card[data-type="1"] .money-card-front {
    background-position-y: 0%; }
  .money-card[data-type="2"] .money-card-front {
    background-position-y: 33.3333333333%; }
  .money-card[data-type="3"] .money-card-front {
    background-position-y: 66.6666666667%; }
  .money-card[data-type="4"] .money-card-front {
    background-position-y: 100%; }
  .money-card[data-value="1"] .money-card-front {
    background-position-x: 0%; }
  .money-card[data-value="2"] .money-card-front {
    background-position-x: 12.5%; }
  .money-card[data-value="3"] .money-card-front {
    background-position-x: 25%; }
  .money-card[data-value="4"] .money-card-front {
    background-position-x: 37.5%; }
  .money-card[data-value="5"] .money-card-front {
    background-position-x: 50%; }
  .money-card[data-value="6"] .money-card-front {
    background-position-x: 62.5%; }
  .money-card[data-value="7"] .money-card-front {
    background-position-x: 75%; }
  .money-card[data-value="8"] .money-card-front {
    background-position-x: 87.5%; }
  .money-card[data-value="9"] .money-card-front {
    background-position-x: 100%; }

.money-spot.unselectable .money-card, #player-hand .stockitem.unselectable {
  cursor: not-allowed;
  filter: contrast(0.6); }

.money-spot.selectable .money-card, #player-hand .stockitem.selectable {
  cursor: pointer; }
  .money-spot.selectable .money-card:hover, #player-hand .stockitem.selectable:hover {
    transform: scale(1.1);
    z-index: 150 !important; }

.money-spot.selected .money-card .money-card-front {
  border: 3px solid red;
  margin-left: -2px;
  margin-top: -2px; }

#player-hand .stockitem {
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  cursor: default; }
  #player-hand .stockitem.stockitem_selected {
    margin-left: -1px;
    margin-top: -1px;
    z-index: 100 !important; }

.alhambra_wrapper {
  position: relative; }

#board-wrapper {
  padding: 5px;
  position: relative;
  z-index: 12;
  max-height: 420px; }
  #board-wrapper::before {
    background-image: none; }
  #board-wrapper::after {
    z-index: 1; }
  #board-wrapper #board {
    position: relative;
    width: 770px;
    height: 410px;
    background-image: url("img/board.jpg");
    border-radius: 15px; }
    #board-wrapper #board #token-crown {
      position: absolute;
      width: 73px;
      height: 65px;
      background: #ffeec4;
      top: 213px;
      left: 24px;
      border-radius: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid red; }
      #board-wrapper #board #token-crown div {
        width: 60px;
        height: 42px;
        background-image: url("img/crowns.png");
        background-size: 200%; }
      #board-wrapper #board #token-crown[data-round="2"] div {
        background-position-x: 100%; }
      #board-wrapper #board #token-crown[data-round="0"] {
        display: none; }
    #board-wrapper #board .building-spot {
      position: absolute;
      top: 294px;
      left: 0px;
      width: 95px;
      height: 95px;
      z-index: 2; }
      #board-wrapper #board .building-spot#building-deck {
        width: 95px;
        height: 95px;
        background-image: url("img/fontains.jpg");
        background-size: cover;
        background-position-y: 85.7142857143%;
        top: 295px;
        left: 13px;
        box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black; }
        #board-wrapper #board .building-spot#building-deck #building-count {
          font-size: 38px;
          font-weight: bold;
          position: absolute;
          top: 25px;
          width: 100%;
          text-align: center;
          color: #000000;
          text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff; }
          #board-wrapper #board .building-spot#building-deck #building-count::before {
            content: 'x'; }
      #board-wrapper #board .building-spot#building-spot-1 {
        left: 133px; }
      #board-wrapper #board .building-spot#building-spot-2 {
        left: 279px; }
      #board-wrapper #board .building-spot#building-spot-3 {
        left: 426px; }
      #board-wrapper #board .building-spot#building-spot-4 {
        left: 572px; }
    #board-wrapper #board .money-spot {
      width: 112px;
      height: 173px;
      position: absolute;
      top: 22px;
      z-index: 2; }
      #board-wrapper #board .money-spot#money-deck {
        left: 51px;
        top: 21px; }
        #board-wrapper #board .money-spot#money-deck #money-count {
          font-size: 38px;
          font-weight: bold;
          position: absolute;
          top: 62px;
          width: 100%;
          text-align: center;
          color: #000000;
          text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff; }
          #board-wrapper #board .money-spot#money-deck #money-count::before {
            content: 'x'; }
      #board-wrapper #board .money-spot#money-spot-0 {
        left: 199px; }
      #board-wrapper #board .money-spot#money-spot-1 {
        left: 345px; }
      #board-wrapper #board .money-spot#money-spot-2 {
        left: 491px; }
      #board-wrapper #board .money-spot#money-spot-3 {
        left: 638px; }

/*
#board .building_available {
    cursor: pointer;

    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);

}
TODO
.notouch-device #board .building_available:hover {
    transform: scale( 1.1 );
}
*/
.alhambra-block, #popin_moneyDialog, #popin_showScoreSheet {
  box-sizing: border-box;
  position: relative;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); }
  .alhambra-block::before, .alhambra-block::after, #popin_moneyDialog::before, #popin_moneyDialog::after, #popin_showScoreSheet::before, #popin_showScoreSheet::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("img/frame-texture.jpg");
    background-size: 100px;
    z-index: -1; }
  .alhambra-block::before, #popin_moneyDialog::before, #popin_showScoreSheet::before {
    border-radius: 20px; }
  .alhambra-block::after, #popin_moneyDialog::after, #popin_showScoreSheet::after {
    border: 1px solid;
    border-image-slice: 70 70 70 100;
    border-image-width: 13px 15px 13px 15px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("img/frame.png");
    background: none;
    filter: drop-shadow(1px 1px 2px #2f2719); }
  .alhambra-block h3, #popin_moneyDialog h3, #popin_showScoreSheet h3 {
    display: none;
    font-family: "Roboto", Arial, sans-serif; }

#upper-part {
  display: flex;
  margin-bottom: 20px;
  justify-content: stretch; }
  @media only screen and (max-width: 1480px) {
    #upper-part {
      flex-flow: column; } }
  #upper-part #left-part {
    width: 780px;
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 1480px) {
      #upper-part #left-part {
        width: 970px; } }
    #upper-part #left-part #player-aid-wrapper {
      margin-top: 10px; }
      #upper-part #left-part #player-aid-wrapper::after {
        z-index: 1; }
      #upper-part #left-part #player-aid-wrapper #player-aid {
        width: 620px;
        height: 477px;
        background-image: url("img/player_aid.jpg");
        border-radius: 22px;
        margin-top: 6px; }
        @media only screen and (max-width: 1480px) {
          #upper-part #left-part #player-aid-wrapper #player-aid {
            display: none; } }
    #upper-part #left-part #player-stock {
      width: 150px;
      margin-left: 10px;
      padding: 20px;
      z-index: 10; }
      @media only screen and (min-width: 1480px) {
        #upper-part #left-part #player-stock {
          margin-top: 10px;
          min-height: 452px; } }
      #upper-part #left-part #player-stock.droppable {
        cursor: pointer; }
        #upper-part #left-part #player-stock.droppable::after {
          border-image-source: url("img/frame-droppable.png"); }
      #upper-part #left-part #player-stock.droppable:hover::after, #upper-part #left-part #player-stock.droppable-now::after {
        border-image-source: url("img/frame-droppable-now.png"); }
  #upper-part #right-part {
    margin: 10px 0px;
    flex-grow: 1;
    display: flex;
    flex-flow: column; }
    @media only screen and (min-width: 1480px) {
      #upper-part #right-part {
        width: 640px;
        margin: 0px 10px; } }
    #upper-part #right-part #money-wrap {
      width: 100%;
      height: 207px;
      padding: 16px;
      z-index: 12; }
      #upper-part #right-part #money-wrap #player-hand-wrapper {
        display: flex;
        align-items: center; }
        #upper-part #right-part #money-wrap #player-hand-wrapper #player-hand {
          width: 100%; }
    #upper-part #right-part .alhambra-wrapper {
      flex-grow: 1;
      margin-top: 10px;
      min-height: 635px; }

#bottom-part .alhambra-wrapper {
  margin-bottom: 20px;
  z-index: 20; }

.alhambra-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative; }
  .alhambra-wrapper::before {
    background-image: url("img/desert-texture.jpg"); }
  .alhambra-wrapper h3 {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 10px 15px; }
    .alhambra-wrapper h3::before {
      background: #f9f1e8;
      border-radius: 15px; }
    .alhambra-wrapper h3::after {
      border-image-width: 7px 8px 7px 8px;
      filter: none; }
  .alhambra-wrapper .alhambra-stock {
    position: absolute;
    left: 15px;
    top: 15px; }
  .alhambra-wrapper .alhambra {
    position: relative; }
    .alhambra-wrapper .alhambra .building-tile-front, .alhambra-wrapper .alhambra .building-tile-back {
      box-shadow: none; }
    .alhambra-wrapper .alhambra .free-place {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 95px;
      height: 95px; }
      .alhambra-wrapper .alhambra .free-place.droppable {
        background: rgba(255, 0, 0, 0.3);
        z-index: 2000;
        cursor: pointer; }
        .alhambra-wrapper .alhambra .free-place.droppable:hover {
          background: rgba(0, 255, 0, 0.4); }
      .alhambra-wrapper .alhambra .free-place.droppable-now {
        background: rgba(0, 255, 0, 0.4);
        z-index: 2000; }

.alhambra-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .alhambra-stats .alhambra-stat {
    width: 60px;
    height: 60px;
    margin: 5px; }
    .alhambra-stats .alhambra-stat.highlighted {
      box-shadow: 0 0 3pt 2pt red;
      border-radius: 10px; }
    .alhambra-stats .alhambra-stat .building-type-stat {
      width: 60px;
      height: 40px;
      background-image: url("img/icons_panel.png"); }
    .alhambra-stats .alhambra-stat.stat-1 .building-type-stat {
      background-position-x: 0%; }
    .alhambra-stats .alhambra-stat.stat-2 .building-type-stat {
      background-position-x: 16.6666666667%; }
    .alhambra-stats .alhambra-stat.stat-3 .building-type-stat {
      background-position-x: 33.3333333333%; }
    .alhambra-stats .alhambra-stat.stat-4 .building-type-stat {
      background-position-x: 50%; }
    .alhambra-stats .alhambra-stat.stat-5 .building-type-stat {
      background-position-x: 66.6666666667%; }
    .alhambra-stats .alhambra-stat.stat-6 .building-type-stat {
      background-position-x: 83.3333333333%; }
    .alhambra-stats .alhambra-stat .stat-nbr {
      width: 60px;
      font-weight: bold;
      text-align: center;
      font-size: 20px; }
    .alhambra-stats .alhambra-stat.stat-1 {
      color: blue; }
    .alhambra-stats .alhambra-stat.stat-2 {
      color: red; }
    .alhambra-stats .alhambra-stat.stat-3 {
      color: brown; }
    .alhambra-stats .alhambra-stat.stat-4 {
      color: white; }
    .alhambra-stats .alhambra-stat.stat-5 {
      color: green; }
    .alhambra-stats .alhambra-stat.stat-6 {
      color: purple; }
  .alhambra-stats .wall-stat {
    width: 110px;
    height: 22px;
    display: flex;
    align-items: center;
    margin-top: 5px; }
    @media only screen and (min-width: 1480px) {
      .alhambra-stats .wall-stat {
        width: 128px; } }
    .alhambra-stats .wall-stat .wallicon {
      width: 38px;
      height: 100%;
      background-image: url("img/icons_panel.png");
      background-position: 100% center; }
      @media only screen and (min-width: 1480px) {
        .alhambra-stats .wall-stat .wallicon {
          width: 45px; } }
    .alhambra-stats .wall-stat .wall-nbr {
      width: 30px;
      text-align: center;
      font-weight: 700;
      font-size: 20px; }
      @media only screen and (min-width: 1480px) {
        .alhambra-stats .wall-stat .wall-nbr {
          width: 38px; } }
  .alhambra-stats .card-nbr {
    height: 30px;
    display: flex;
    align-items: center; }
    .alhambra-stats .card-nbr .card-nbr-icon {
      height: 30px;
      width: 19px;
      background-image: url(img/card_icon.jpg);
      border-radius: 3px; }
    .alhambra-stats .card-nbr .card-nbr-nbr {
      font-size: 20px;
      font-weight: 700; }
      .alhambra-stats .card-nbr .card-nbr-nbr::before {
        content: 'x';
        margin-left: 7px; }

.neutral-playerboard .player-name {
  text-align: center; }
.neutral-playerboard .alhambra-stats .wall-stat, .neutral-playerboard .alhambra-stats .card-nbr {
  display: none; }

.building-tile {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  height: 95px;
  z-index: 1000 !important;
  transform-origin: 50% 50%;
  transform-style: preserve-3d; }
  .building-tile .building-tile-front, .building-tile .building-tile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/buildings.jpg");
    background-position: 0 0;
    background-size: 600%;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  .building-tile .building-tile-back {
    background-image: url("img/fontains.jpg");
    background-size: cover;
    background-position-y: 85.7142857143%;
    transform: rotateY(180deg);
    z-index: 2; }
  .building-tile.flipped {
    transform: rotateY(180deg); }
  .building-tile.animate {
    transition: transform 0.5s; }
  .building-tile[data-type="1"] .building-tile-front {
    background-position-x: 0%; }
  .building-tile[data-type="1"] .building-cost {
    background-position-x: 0%; }
  .building-tile[data-type="2"] .building-tile-front {
    background-position-x: 20%; }
  .building-tile[data-type="2"] .building-cost {
    background-position-x: 20%; }
  .building-tile[data-type="3"] .building-tile-front {
    background-position-x: 40%; }
  .building-tile[data-type="3"] .building-cost {
    background-position-x: 40%; }
  .building-tile[data-type="4"] .building-tile-front {
    background-position-x: 60%; }
  .building-tile[data-type="4"] .building-cost {
    background-position-x: 60%; }
  .building-tile[data-type="5"] .building-tile-front {
    background-position-x: 80%; }
  .building-tile[data-type="5"] .building-cost {
    background-position-x: 80%; }
  .building-tile[data-type="6"] .building-tile-front {
    background-position-x: 100%; }
  .building-tile[data-type="6"] .building-cost {
    background-position-x: 100%; }
  .building-tile[data-type="0"] .building-tile-front {
    background-image: url("img/fontains.jpg");
    background-position: 0 0;
    background-size: cover; }
    .building-tile[data-type="0"] .building-tile-front .building-cost, .building-tile[data-type="0"] .building-tile-front .remove-building {
      display: none; }
  .building-tile.bought .building-tile-front {
    outline: 3px solid #00f;
    box-shadow: 16px 20px 5px 0 rgba(0, 0, 0, 0.4); }
  .building-tile.drag-selected .building-tile-front {
    outline: 3px solid #f00; }
  .building-tile .building-cost {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: black;
    font-size: 22px;
    width: 32px;
    height: 32px;
    background-image: url("img/octogons.png");
    background-size: cover;
    text-align: center;
    line-height: 33px;
    filter: drop-shadow(2px 2px 3px #222);
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff, 0px -1px 0 #fff; }
  .building-tile .remove-building {
    display: none; }
  .building-tile .wall-n::before, .building-tile .wall-e::before, .building-tile .wall-s::before, .building-tile .wall-w::before {
    content: '';
    position: absolute;
    display: block;
    width: 95px;
    height: 8px;
    background-image: url("img/wall.png");
    background-size: contain; }
  .building-tile .wall-e::before {
    transform: rotate(90deg);
    transform-origin: 4px 4px; }
  .building-tile .wall-s::before {
    transform: rotate(180deg);
    transform-origin: 50% 4px; }
  .building-tile .wall-w::before {
    transform: rotate(-90deg);
    transform-origin: 47.5px 47.5px; }
  .building-tile .wall-n, .building-tile .wall-s {
    position: absolute;
    left: 0px;
    width: 95px;
    height: 8px; }
  .building-tile .wall-n {
    top: 0; }
  .building-tile .wall-s {
    bottom: 0; }
  .building-tile .wall-e, .building-tile .wall-w {
    position: absolute;
    top: 0px;
    height: 95px;
    width: 8px; }
  .building-tile .wall-e {
    right: 0; }
  .building-tile .wall-w {
    left: 0; }
  .building-tile .wall-n[data-wall="false"] {
    display: none; }
  .building-tile .wall-e[data-wall="false"] {
    display: none; }
  .building-tile .wall-s[data-wall="false"] {
    display: none; }
  .building-tile .wall-w[data-wall="false"] {
    display: none; }

.building-spot .building-tile.unselectable {
  opacity: 0.7;
  cursor: not-allowed; }

.building-spot .building-tile.unselectable.bought {
  opacity: 1;
  cursor: default; }

.building-spot .building-tile.selectable {
  cursor: pointer; }
  .building-spot .building-tile.selectable:hover {
    transform: scale(1.1); }

.building-spot .building-tile.selected .building-tile-front {
  border: 3px solid red;
  margin-left: -3px;
  margin-top: -3px;
  border-radius: 2px; }

.alhambra_drag_in_progress .building-tile.freeplace {
  outline: 5px red dotted;
  cursor: pointer; }

.notouch-device.alhambra_drag_in_progress .building-tile.freeplace:hover {
  outline: 8px red dotted; }

.alhambra_drag_in_progress #player-stock {
  outline: 5px red dotted;
  cursor: pointer; }

.alhambra_drag_in_progress_from_stock #player-stock {
  outline: 0px;
  cursor: default; }

.notouch-device.alhambra_drag_in_progress #player-stock:hover {
  outline: 8px red dotted; }

.notouch-device.alhambra_drag_in_progress_from_stock #player-stock:hover {
  outline: 0px red dotted; }

/* building tile

.building_tile.dragging_in_progress {
    z-index:30000;
}

.building_last_placed {
    filter: brightness(1.1);
}




.building_surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 95px;
}

.remove_building {
    position: absolute;
    bottom: 5px;
    right: 10px;
    opacity: 0;
    background-color: white;
    border-radius: 17px;
    padding: 1px;
    transition: 0.5s;
    font-size: 28px;
}
.fountain .remove_building {
    display: none;
}
.remove_building .fa {
    color: red;
}

.current_player_is_active .gamestate_playerTurn .alhambra_wrap_current .building_tile:hover .remove_building {
    transition: all 0.5s;
    opacity: 1;
}

*/
.moneytype {
  font-weight: bold; }
  .moneytype.moneytype_1 {
    color: yellow;
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000; }
  .moneytype.moneytype_2 {
    color: green; }
  .moneytype.moneytype_3 {
    color: #1730b7; }
  .moneytype.moneytype_4 {
    color: orange; }
  .moneytype .moneyicon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-bottom: -4px;
    background-image: url("img/coin-icon.png");
    background-size: cover; }
  .moneytype.moneytype_1 .moneyicon {
    background-position-x: 100%; }
  .moneytype.moneytype_2 .moneyicon {
    background-position-x: 0%; }
  .moneytype.moneytype_3 .moneyicon {
    background-position-x: 66.66%; }
  .moneytype.moneytype_4 .moneyicon {
    background-position-x: 33.33%; }
  .moneytype .moneyname {
    display: none; }

.buildingtype {
  font-weight: bold; }
  .buildingtype.buildingtype_1 {
    color: blue; }
  .buildingtype.buildingtype_2 {
    color: red; }
  .buildingtype.buildingtype_3 {
    color: brown; }
  .buildingtype.buildingtype_4 {
    color: white;
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000; }
  .buildingtype.buildingtype_5 {
    color: green; }
  .buildingtype.buildingtype_6 {
    color: purple; }

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through; }

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(239, 154, 154, 0.6); }

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a; }

#scoring_panel {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000; }
  #scoring_panel .round_scoring {
    display: none;
    border: black 10px solid;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 30px;
    z-index: 20;
    height: 500px;
    background-image: url("img/scoring.png"); }
    #scoring_panel .round_scoring#round_scoring_1 {
      width: 86px;
      margin-left: -43px;
      background-position: -1px 0px; }
    #scoring_panel .round_scoring#round_scoring_2 {
      width: 142px;
      margin-left: -71px;
      background-position: -90px 0px; }
    #scoring_panel .round_scoring#round_scoring_3 {
      width: 205px;
      margin-left: -102px;
      background-position: -236px 0px; }
    #scoring_panel .round_scoring .scoring_items {
      position: absolute;
      left: 7px;
      top: 113px;
      width: 100%; }
      #scoring_panel .round_scoring .scoring_items .scoring_zone {
        border-radius: 10px;
        box-shadow: 0 0 3pt 2pt red;
        width: 70px;
        height: 55px;
        margin-bottom: 10.3px;
        display: inline-block;
        transition: all .5s;
        opacity: 0; }
        #scoring_panel .round_scoring .scoring_items .scoring_zone.highlighted {
          opacity: 1; }
    #scoring_panel .round_scoring#round_scoring_2 .scoring_items .scoring_zone {
      width: 65px;
      height: 55px;
      margin-bottom: 5.2px;
      margin-right: -4px; }
    #scoring_panel .round_scoring#round_scoring_3 .scoring_items .scoring_zone {
      width: 66px;
      height: 55px;
      margin-bottom: 5.3px;
      margin-right: -6px; }

.scoring_nbr {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff, 0px -1px 0 #fff; }

#player_config {
  margin: 10px 0px; }
  #player_config #player_config_row {
    display: flex;
    justify-content: space-around; }
  #player_config #show-scoresheet, #player_config #show-settings {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    #player_config #show-scoresheet:hover, #player_config #show-settings:hover {
      color: grey; }
    #player_config #show-scoresheet:hover, #player_config #show-settings:hover {
      color: grey; }
    #player_config #show-scoresheet svg, #player_config #show-settings svg {
      width: auto;
      height: 40px; }
  #player_config #show-settings .fa-primary {
    transform-origin: 216px 255px;
    transition: transform 1s; }
  #player_config #show-settings:hover .fa-primary {
    transform: rotate(180deg); }

/*
 * Controls in the top bar
 */
#layout-controls-container {
  position: relative;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 10px; }
  #layout-controls-container.layoutControlsHidden {
    display: none; }
  #layout-controls-container .row-data {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #layout-controls-container .row-data .row-label {
      width: auto;
      float: none;
      color: black;
      padding-bottom: 0px; }
    #layout-controls-container .row-data .row-value {
      margin: 0; }

/*# sourceMappingURL=alhambra.css.map */
