/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Alhambra implementation : © Gregory Isabelli
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * alhambra.scss
 *
 * Alhambra stylesheet
 *
 */


@font-face {
    font-family: 'Chopin Script';
    src: url('img/font/ChopinScript.woff2') format('woff2'),
        url('img/font/ChopinScript.woff') format('woff'),
        url('img/font/ChopinScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$breakPoint:1480px;
@import 'modules/css/modal';
@import 'modules/css/moneyCard';
@import 'modules/css/board';
@import 'modules/css/building';
@import 'modules/css/log';
