#board {
  position: relative;
  width: 800px;
  height: 410px;
  background-image: url('img/board.jpg');
  border: 2px solid #913b3b;
  box-shadow: 2px 2px 5px -2px black;
  border-radius: 4px;


  .building-spot {
    position: absolute;
    top: 294px;
    left: 0px;
    width: 95px;
    height: 95px;

    &#building-deck {
      width: 95px;
      height: 95px;
      background-image: url('img/buildings.jpg');
      background-position:-0px -570px;
      top: 295px;
      left: 13px;
      box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black;

      #building-count {
        font-size: 38px;
        font-weight: bold;
        position: absolute;
        top: 25px;
        width: 100%;
        text-align: center;
        color: #000000;
        text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
        &::before {
          content:'x';
        }
      }
    }

    &#building-spot-1 { left: 133px; }
    &#building-spot-2 { left: 279px; }
    &#building-spot-3 { left: 426px; }
    &#building-spot-4 { left: 572px; }
  }

  .money-spot {
    width: 112px;
    height: 173px;
    position: absolute;
    top: 22px;

    &#money-deck {
      left: 51px;
      top: 21px;

      #money-count {
        font-size: 38px;
        font-weight: bold;
        position: absolute;
        top: 62px;
        width: 100%;
        text-align: center;
        color: #000000;
        text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
        &::before {
          content:'x';
        }
      }
    }

    &#money-spot-0 { left: 199px; }
    &#money-spot-1 { left: 345px; }
    &#money-spot-2 { left: 491px; }
    &#money-spot-3 { left: 638px; }
  }
}

/*
#board .building_available {
    cursor: pointer;

    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);

}
.notouch-device #board .building_available:hover {
    transform: scale( 1.1 );
}

#board .building_bought {
    outline: 3px blue solid;

    -moz-box-shadow: 16px 20px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 16px 20px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 16px 20px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 16px 20px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

#board .building_bought.selected {
    outline: 3px red solid;
}
*/

#upper-part {
  display:flex;

  #right-part {
    width:640px;
    height:900px;
    flex-grow: 1;
    margin: 0px 10px;
//    background-image:url('img/player-board.png');

    #money-wrap {
      border-image-slice: 70 70 70 100;
      border-image-width: 20px 20px 20px 20px;
      border-image-outset: 0px 0px 0px 0px;
      border-image-repeat: stretch stretch;
      border-image-source:url('img/frame.png');
      filter:drop-shadow(2px 2px 5px #2f2719);
      width:100%;
      height:220px;
      padding:20px;
      box-sizing: border-box;
      position:relative;

      &::before {
        content:'';
        display:block;
        position:absolute;
        width:calc(100% - 40px);
        height:calc(100% - 40px);
        background-image:url('img/frame-texture.jpg');
        background-size:100px;
        z-index:-1;
      }

      h3 {
        display:none;
      }

      #player-hand-wrapper {
        display: flex;
        align-items: center;

        #player-hand {
          width:100%;
        }
      }
    }
  }
}
