.moneytype {
  font-weight: bold;
  &.moneytype_1    {
      color: yellow;
      text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000;
  }
  &.moneytype_2 { color: green; }
  &.moneytype_3 { color: #1730b7; }
  &.moneytype_4 { color: orange; }

  .moneyicon {
    display:inline-block;
    width:18px;
    height:18px;
    margin-bottom: -4px;
    background-image:url('img/coin-icon.png');
    background-size:cover;
  }
  &.moneytype_1 .moneyicon { background-position-x:100%; }
  &.moneytype_2 .moneyicon { background-position-x:0%; }
  &.moneytype_3 .moneyicon { background-position-x:66.66%; }
  &.moneytype_4 .moneyicon { background-position-x:33.33%; }


  .moneyname {
    display: none;
  }
}


.buildingtype {
  font-weight: bold;

  &.buildingtype_1 { color: blue }
  &.buildingtype_2 { color: red }
  &.buildingtype_3 { color: brown }
  &.buildingtype_4 {
    color: white;
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000;
  }
  &.buildingtype_5 { color: green }
  &.buildingtype_6 { color: purple }
}



/* Cancelled notification messages */

.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(239, 154, 154, 0.6);
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}
