.alhambra_popin {
  width:80%;
  position:relative;

  .alhambra_popin_closeicon {
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 82%;
    color: white !important;

    &:hover {
      text-decoration: none;
      color:#CCC !important;
      transform:scale(1.1);
    }

    i {
      margin-top:-2px;
    }
  }
}


#popin_moneyDialog_underlay {
  background:#3e3d3d !important;
}
#popin_moneyDialog {
  margin-top: 150px;
  width:auto;
  min-height:400px;
  padding: 25px;
  text-align: center;

  .money-dialog-holder {
    display:flex;
  }
}


#popin_showScoreSheet {
  width: 620px;
  height: 477px;
  background-image: url('img/player_aid.jpg');
  border-radius: 22px;
  margin-top: 6px;

  &::before {
    content: none !important;
  }
}
