#scoring_panel {
  position:absolute;
  display:none;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 2000;

  .round_scoring {
    display: none;
    border: black 10px solid;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 30px;
    z-index:20;
    height: 500px;
    background-image: url('img/scoring.png');

    &#round_scoring_1 {
        width: 86px;
        margin-left: -43px;
        background-position: -1px 0px;
    }
    &#round_scoring_2 {
        width: 142px;
        margin-left: -71px;
        background-position: -90px 0px;
    }
    &#round_scoring_3 {
        width: 205px;
        margin-left: -102px;
        background-position: -236px 0px;
    }

    .scoring_items {
      position: absolute;
      left: 7px;
      top: 113px;
      width: 100%;

      .scoring_zone {
        border-radius: 10px;
        box-shadow: 0 0 3pt 2pt red;

        width: 70px;
        height: 55px;
        margin-bottom: 10.3px;
        display: inline-block;
        transition: all .5s;
        opacity: 0;

        &.highlighted {
          opacity: 1;
        }
      }
    }

    &#round_scoring_2 .scoring_items .scoring_zone {
      width: 65px;
      height: 55px;
      margin-bottom: 5.2px;
      margin-right: -4px;
    }
    &#round_scoring_3 .scoring_items .scoring_zone {
      width: 66px;
      height: 55px;
      margin-bottom: 5.3px;
      margin-right: -6px;
    }
  }
}

.scoring_nbr {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff, 0px -1px 0 #fff;
}
